<div class="container-fluid">
  <div class="row no-gutter">

    <div class="col-md-6 d-none d-md-flex bg-image"></div>

    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">

        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <h3 class="display-4 mb-4 ms-3">Login Page</h3>
              <small class="text-danger fw-bold text-center mb-2 ms-3">{{err}}</small>
              <form #loginForm="ngForm" (ngSubmit)="signIn()" ngNativeValidate [hidden]="isLoggedIn">
                <div class="form-floating mb-5">
                  <input type="text" class="form-control" name="username" placeholder="username"
                      [(ngModel)]="user.username" #username="ngModel" required>
                  <label for="username">Username</label>
                  <small class="text-danger ms-2" [class.d-none]="username.valid || username.untouched">Username is
                    required</small>
              </div>
                <div class="form-floating mb-5">
                  <input type="password" class="form-control" name="password" placeholder="Password"
                      [(ngModel)]="user.password" required  #password="ngModel">
                  <label for="password">Password</label>
                  <small class="text-danger ms-2" [class.d-none]="password.valid || password.untouched">Password is
                    required</small>
                </div>
                <button type="submit" class="btn btn-custom col-11 mt-2 ms-3 mb-2">Sign In</button>
                <div class="text-center d-flex justify-content-between mt-4 ms-4">
                  <p>New User? <a [routerLink]="['/registerUser']">click here</a></p>
                </div>
              </form>
              <div class="alert alert-success text-center" [hidden]=!isLoggedIn>
                You are already Logged In
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>