<header>
</header>
<section id="about-us">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <img src="https://cdn1.photostockeditor.com/c/2311/group-of-people-using-laptop-computer-people-laptop.jpg"
          class="img-fluid about-image" alt="About Us">
      </div>
      <div class="col text-col m-2">
        <h1 style="color: #ef6c00;">About Us</h1>
        <p class="lead">Curiosity is the wick in the candle of learning</p>
        <p>E-Learning brings together the best content for leearning and professionals from the
          widest variety of universities thought leaders. It is an effort of Aggregage. The goals of the site are to:</p>
        <ul>
          <li class="mb-2"><b>Collect High Quality Content </b>- The goal of a content community is to provide a high quality
            destination that highlights the most recent and best content from top quality sources as defined by the
            community.</li>
          <li><b>Provide an Easy to Navigate Site</b>- Our subscribers are often professionals who are
            not regular readers of the blogs and other sources. They come to the content community to find information
            on particular topics of interest to them. This links them across to the sources themselves.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container">
    <h3 class="display-3 text-center text-secondary" style="margin-bottom: 30px;">Our Services</h3>
    <div class="row cards">
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card shadow rounded" style="width: 20rem;">
          <img
            src="https://i.guim.co.uk/img/media/165971ece9f28220c8bcf9e838235ee17b9f3124/0_191_5315_3188/master/5315.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=d31fff4abf22489f0059e6f2abf4a40e"
            class="card-img-top icons" alt="Book Appointment" />
          <div class="card-body">
            <h5 class="card-title" style="color: #ef6c00;">Download Study Materials</h5>
            <hr>
            <p class="card-text">Search for all resources and study materials of every course which is totally web safe
              and download them as ebooks</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex justify-content-center">
        <div class="card shadow rounded" style="width: 20rem;">
          <img src="https://www.daily-sun.com/assets/news_images/2017/04/06/DS-2017-04-06-NS-26.jpg"
            class="card-img-top icons" alt="Service Two" />
          <div class="card-body">
            <h5 class="card-title" style="color: #ef6c00;">Interact with Professors</h5>
            <hr>
            <p class="card-text">Get associated with professors of esteemed institutes & colleges and interact
              with them
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex justify-content-center">
        <div class="card shadow rounded" style="width: 20rem;">
          <img src="https://5waystowellbeing.org.au/wp-content/uploads/2020/04/e-library.jpg" class="card-img-top icons"
            alt="Service Three" />
          <div class="card-body">
            <h5 class="card-title " style="color: #ef6c00;">Get Beneficial Resources</h5>
            <hr>
            <p class="card-text">Get useful resource links of websites which contains enormous amount of study materials
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <blockquote class="blockquote">
          <p>Our vision is to be the source for learning on the internet
            available from anywhere for everyone and without charge.</p>
        </blockquote>
        <button type="button" class="btn btn-outline-light"> <span class="material-icons-outlined me-2" id="phone"
            style="float: left;">call</span>
          <label for="phone">8544122333</label></button>
        <button type="button" class="btn btn-outline-light"><span class="material-icons-outlined me-2" id="email"
            style="float: left;">email</span>
          <label for="email">elearning@el.com</label></button>
        <button type="button" class="btn btn-outline-light"> <span class="material-icons-outlined me-2" id="home"
            style="float: left;">home</span>
          <label for="home">No:8 Anna nagar, Chennai</label></button>
      </div>
      <p class="mt-2">&copy; E-Learning</p>
    </div>
  </div>
</section>